<!DOCTYPE html>
<html>

<head>
   <title></title>
   <style>
      #root_template_div {
         width: 100%;
         color: {{_text_color_}};
      }
   </style>
   <script>
      function loadScrolledToBottome() {
         window.scrollTo(0, document.body.scrollHeight);  // The function returns the product of p1 and p2
      }
   </script>
</head>

<body onload="loadScrolledToBottome()">
   <div id="root_template_div">
      <div>
         <pre><code>{{_logs_}}</code></pre>
      </div>
   </div>
</body>

</html>